$content-height: 3rem;
$content-width: 85vw;

.music-switch {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 999;
}

.my-content {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  line-height: $content-height;
  text-align: center;
  width: $content-width;
  overflow: hidden;
  animation: flow-out 1s;
  animation-fill-mode: forwards;
  /* 圆形 */
  div {
    background-color: rgb(27, 28, 24);
    color: #ff5bcc;
  }

  div:hover{
    color: #afa8ff;
  }

  .banzi {
    position: absolute;
    z-index: 9;
    width: $content-width;
    height: $content-height;
  }

  .down-arrow {
    z-index: 99;
    position: relative;
    align-self: center;
    width: 2rem;
    background-color: rgba(207,193,255,0);

    i {
      color: #9b6cff;
      font-size: 1.5rem;
      display: block;
      font-weight: bold;
      animation: move-arrow 3s;
      animation-iteration-count: infinite;
    }
  }

  .down-arrow:hover{
    i{
      color: #afa8ff;
    }
  }
}


@keyframes show-content {
  0% {
    left: 0
  }
  100% {
    left: $content-width
  }
}

@keyframes rotate-music {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes move-arrow {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes flow-out {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}
